* {
    margin: 0 auto ;
    padding: 0 auto ;
}

#page {
    width: 800px;
    height: 100px;
    padding: 20px;
    background-color: #c1c1c1;
}

h1 {
    color: #35eac0;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

span {
    color: yellow;
}

.box {
    width: 390px;
    float: left;
    display: inline;
    background-color: aqua;
    color: #ffffff;
    padding: 20px;
    margin-left: 20px;
}